{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{% static 'FastGoodApp/css/base.css' %}" rel="stylesheet" />
    {% block css_additional %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% endblock css_additional %}
</head>
<body>
<a href="{% url "home" %}"><img src="{% static "FastGoodApp/images/logo.png" %}" alt="Лого"  height="64" width="64"></a>
    {% if request.user.is_authenticated %}
        <li class="user_name"> {{user.username}} | <a href="{% url 'logout' %}">Сменить пользователя</a></li>
    {% else %}
        <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
    {% endif %}
    <a class="info"> О Сайте</a>
    <a class="info"> Контактные данные</a>
    {% block content %}
    {% endblock %}
</body>
</html>