{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{% static 'FastGoodApp/css/base.css' %}" rel="stylesheet" />
    {% block css_additional %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% endblock css_additional %}
</head>
<body>
<a href="{% url "home" %}"><img src="{% static "FastGoodApp/images/logo.png" %}" alt="Лого"  height="50" width="50"></a>
    {% if request.user.is_authenticated %}
        <li class="user_name"> {{user.username}} | <a href="{% url 'logout' %}">Сменить пользователя</a></li>
    {% else %}
        <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
    {% endif %}
    <a class="info" href="{% url 'contact' %}"> Отзывы </a>
    <a class="info"> Контактные данные</a>
    {% if cat_selected == 0 %}
                       <li class="selected">Все категории</li>
    {% else %}
                       <li><a href="{% url 'home' %}">Все категории</a></li>
    {% endif %}

    {% for c in cats %}
             {% if c.pk == cat_selected %}
                       <li class="selected">{{c.name}}</li>
             {% else %}
                       <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
             {% endif %}
    {% endfor %}
    {% block content %}
    {% endblock %}
</body>
</html>