{% extends 'FastGoodApp/base.html' %}
{% load static %}
{% block css_additional %}
<link type="text/css" href="{% static 'FastGoodApp/css/home_page.css' %}" rel="stylesheet" />
{% endblock css_additional %}
{% block content %}
    <h1>{{ title }}</h1>
    <table>
        {%  for shaurma in shaurma_menu %}
            {% if forloop.counter0|divisibleby:"3" %}
                <tr width=50>
            {% endif %}
            <td><li><a href="{{ shaurma.get_absolute_url }}">{{ shaurma.title }}</a></li></td>
        {% if forloop.counter|divisibleby:"3" %}
           </tr>
        {% endif %}
        {% endfor %}
    </table>
{% endblock content %}


