{% extends 'FastGoodApp/base.html' %}
{% load static %}
{% block css_additional %}
<link type="text/css" href="{% static 'FastGoodApp/css/home_page.css' %}" rel="stylesheet" />
{% endblock css_additional %}
{% block content %}
    <h1>{{ title }}</h1>
    {% for shaurma in shaurma_menu %}
        <table>
        <div class="list-topic">
            <tr>
            <th><li><a href="{{ shaurma.get_absolute_url }}">{{ shaurma.title }}</a></li></th>
            </tr>
        </div>
        </table>
    {% endfor %}
{% endblock content %}


