html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}
.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 64px;
	height: 64px;
}
p{
	display: inline;
	padding: 25px;
}