html, body {
	font-family: 'Arial';
	background-color: #EBC8B2;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

.user_author {
	display: inline;
	padding: 45px;
	color: black;
}

.user_name {
	margin-top: -40px ;
	margin-left: 85%;
}

.info{
	margin-bottom: 100px ;
}