table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: #FFDFC4;
  max-width: 40%;
  width: 40%;
  border-collapse: collapse;
  text-align: left;
}

td {
  padding: 7px 6px;
  transition: .2s linear;
}